body {
    font-family: Arial, sans-serif;
    background-color: #8177da;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 500px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #13033f;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #000000;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #ff1361;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff1361;
}

.result {
    text-align: center;
    color: #000000;
    font-weight: bold;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 5px #0000001a;
}
